# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# SPM Xcode integration
.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# App data
*.moved-aside
*.xcuserstate

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDEs
.idea/
*.sw?

# Personal settings
*.xcuserdatad/